<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pdt">
	<select id="alredy" resultType="Integer">
		SELECT COUNT(*) FROM tbl_product
		WHERE pname = #{pname}
	</select>
	<update id="cntchange" parameterType="map">
		UPDATE tbl_product SET
		<if test="flag == 'plus'">
			cnt = cnt + #{cnt}
		</if>
		<if test="flag == 'minus'">
			cnt = cnt - #{cnt}
		</if>
		WHERE pname = #{pname}
	</update>
	<insert id="insert" parameterType="marcket.ProductDTO">
		INSERT INTO
		tbl_product(pno,pname,company,price,cnt)
		VALUES(seq_product.NEXTVAL,#{pname},#{company},#{price},#{cnt})
	</insert>
	<update id="update" parameterType="marcket.ProductDTO">
		UPDATE tbl_product
		SET company	= #{company},
		price = #{price},
		cnt = #{cnt}
		WHERE pname = #{pname}
	</update>
	<delete id="delete" parameterType="marcket.ProductDTO">
		DELETE FROM tbl_product
		WHERE
		pname = #{pname}
	</delete>

	<select id="select" resultType="marcket.ProductDTO">
		SELECT * FROM tbl_product
		ORDER by
		pno
	</select>

	<select id="search" resultType="marcket.ProductDTO">
		SELECT * FROM tbl_product
		WHERE
		pname LIKE #{keyword}
	</select>

	<select id="selectUse" resultType="marcket.ProductDTO">
		SELECT * FROM tbl_product
		WHERE cnt >= 1
		ORDER by pno
	</select>
</mapper>